<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3 class="aside-title">Hue</h3>
      </div>
      <div class="aside-body">
        <h4>-Hue is one of the main properties of a color.</h4>
        <h4>-Unique hues: red, gree, blue, and yellow.</h4>
        <h4>-Other hues: orange and violet (purple).</h4>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/HueScale.svg" style="width: 250px;">
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
