<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3 class="aside-title">Saturation</h3>
      </div>
      <div class="aside-body">
        <h4>-The saturation of a color is determined by a combination of light
             intensity and how much it is distributed across the spectrum of
             different wavelengths.
        </h4>
        <h4>-The purest (most saturated) color is achieved by using just one
             wavelength at a high intensity, such as in laser light.
        </h4>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
